{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/listPosts.js' %}"></script>
{% endblock %}

{% block content %}
<div class="list-posts">
    <div class="head">
        <h1>Feed: The Latest posts</h1>
        <a class="btn btn-outline-primary" href="{% url 'create_post' %}">Create new Post</a>
        <button onclick="showModal()" class="btn btn-outline-primary">Create Post on Modal</button>
    </div>

    {% for post in post_list %}
        <div class="post" id="p-{{post.id}}">
            <div class="user-info">
                {% if post.author_profile.avatar %}
                    <img src="{{post.author_profile.avatar.url}}">
                {% else %}
                    <img src="https://t3.ftcdn.net/jpg/06/33/54/78/360_F_633547842_AugYzexTpMJ9z1YcpTKUBoqBF0CUCk10.jpg">
                {% endif %}
                <div class="info">
                    <a href="#"> <label>{{post.author.username}}</label> </a>
                    <label class="date">{{post.created_on}}</label>
                </div>

                <div class="controls">
                    <i onclick="showModal('{{post.id}}')" class="fa-regular fa-bookmark"></i>
                    {% if post.author.id == user.id %}
                        <a class="text-danger" href="#">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
           
            <p>{{post.content}}</p>
            {% if post.image %}
                <img class="uploaded-img" src="{{post.image.url}}">
            {% endif %}


            <a class="btn btn-outline-primary" href="{% url 'details_post' post.id %}">View details</a>
        </div>
    {% endfor %}


        <div class="modal fade" id="modalCreate" tabindex="-1" >
            <div class="modal-dialog">
                <form method="post" action="{% url 'create_post' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">What on your mind?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-4">
                                <label class="form-label">What do you want to Share?</label>
                                <textarea name="content" class="form-control" rows="3"></textarea>
                            </div>

                            <div class="mb-4">
                                <label class="form-label">Include an Image?</label>
                                <input name="image" type="file" class="form-control" accept="image/*">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

</div>
{% endblock %}