html, body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

nav {
    background-color: #aa3450;
}

body {
    background-color: #fdffff;
}

main {
    min-height: calc(100vh - 104px);
}


footer {
    background-color: #7d6567;
    color: white;
    padding: 12px 0 12px 0;
    text-align: center;
}